<div class="top-container">
    <div class="tv-cmspage">
        <div id="tv-section-1499961000500" class="shopify-section slideshow-section under-menu">
            <section id="homepage_slider-1499961000500" class="parallax-banner flexslider homepage_slider animation--fade  parallax_effect--true slider-loading" data-slider-id="homepage_slider-1499961000500" data-slideshow-animation="fade" data-slideshow-speed="5">
                <ul class="slides">
                    <li  data-block-id="1499961000500-1">
                        <div id="slider-1499961000500-1" class="slide">

                            <iframe width="100%" height="700" frameborder="0" id="player" allowfullscreen="1" allow="autoplay; encrypted-media" title="YouTube video player" src="https://www.youtube.com/embed/xLMXXbXQ08g?autoplay=1&mute=1&controls=1&showinfo=0&loop=1&rel=0&playlist=xLMXXbXQ08g&enablejsapi=1&origin=http%3A%2F%2Flocalhost&widgetid=1"></iframe>
                        </div>
                    </li>
                    <li data-block-id="1499961000500-0">
                        <div id="slider-1499961000500-0" class="slide">
                            <div class="lazyload bcg " data-bgset="https://preview.ibb.co/hwszq7/Slider_banner_1.jpg" data-sizes="100vw" data-bottom-top="background-position: 50% 10vh;" data-top-bottom="background-position: 50% -10vh;" data-anchor-target="#slider-1499961000500-0">
                                <div class="hsContainer"><noscript>
                                    <img   alt="........"
                                           src="https://preview.ibb.co/hwszq7/Slider_banner_1.jpg"
                                           class="image__fallback"
                                           />
                                    </noscript><img class="lazyload lazyload--fade-in hsContainer__image" alt="Store Home" src="https://preview.ibb.co/hwszq7/Slider_banner_1.jpg" data-src="https://preview.ibb.co/hwszq7/Slider_banner_1.jpg" />
                                    <div class="hsContent">
                                        <div class="container">
                                            <div class="columns  eight offset-by-one  align_center">
                                                <p class="headline">#trending</p>
                                                <div class="subtitle">
                                                    <p>hot new looks to try now</p>
                                                </div>
                                                <a class="btn btn-default action_button" href="/pages/our-story"> Shop Now </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <style><!--
                    #homepage_slider-1499961000500 .hsContainer {
                        height: 700px;
                    }


                    @media (max-width: 767px) {

                        #homepage_slider-1499961000500 .hsContainer {
                            height: auto;
                        }
                        .flexslider.parallax_effect--true img { display: block; }

                    }
                    --></style>
            </section>
        </div>
        <div id="tv-section-1484606794245" class="tv-section logo-list-section">
            <div class="logo-bar-section tvcontainer">
                <div class="sixteen columns">
                    <div class="section clearfix">
                        <h2 class="title center">as seen in</h2>
                        <div class="feature_divider">&nbsp;</div>
                        <div class="logo-bar">
                            <div class="logo-bar__item"><a href="http://www.elegantnailsupply.com/opi" target="_blank"><img class="lazyload lazyload--fade-in logo-bar__image" style="max-width: 450px;" alt="" /><img alt="OPI_LOGO" src="https://image.ibb.co/mWkLJH/OPI_LOGO.png" height="40" width="135" /></a></div>
                            <div class="logo-bar__item"><a href="http://www.elegantnailsupply.com/voesh?o=voech&amp;q=voesh=" target="_blank"><img class="lazyload lazyload--fade-in logo-bar__image" style="max-width: 450px;" alt="" /><img alt="VOESH_LOGO" src="https://preview.ibb.co/bMfqkx/VOESH_LOGO.png" height="40" width="135" /></a></div>
                            <div class="logo-bar__item"><a href="http://www.elegantnailsupply.com/chisel/" target="_blank"><img class="lazyload lazyload--fade-in logo-bar__image" style="max-width: 450px;" alt="" src="&lt;a href=" /><img alt="logo_chisel" src="https://image.ibb.co/ktL4vx/logo_chisel.png" height="60" width="135" /></a></div>
                            <div class="logo-bar__item"><a href="http://www.elegantnailsupply.com/kiara-sky/" target="_blank"><img class="lazyload lazyload--fade-in logo-bar__image" style="max-width: 450px;" alt="" src="&lt;a href=" /><img alt="Kiara_sky_logo" src="https://image.ibb.co/fvDUTH/Kiara_sky_logo.png" height="50" width="135" /></a></div>
                            <div class="logo-bar__item"><a href="http://www.elegantnailsupply.com/color-club/" target="_blank"><img class="lazyload lazyload--fade-in logo-bar__image" style="max-width: 450px;" alt="" /><img alt="Color_Club_Logo_600x315" src="https://image.ibb.co/kBG2Fx/Color_Club_Logo_600x315.png" height="40" width="135" />"</a></div>
                            <div id="tv-section-1485297090718" class="tv-section featured-promotions-section">
                                <div class="tvcontainer content">
                                    <div class="sixteen columns featured_links">
                                        <div class="section clearfix feature">
                                            <div class="col-sm-4 col-md-4 alpha animate_down delay-025s center">
                                                <div><img alt="" src="https://image.ibb.co/ct59Fx/Sale_Picture.jpg" height="200" width="140" /></div>
                                                <h2><a href="http://www.elegantnailsupply.com/special-promotion.html">LIMITED OFFERS!</a></h2>
                                            </div>
                                            <div class="col-sm-4 col-md-4  animate_down delay-05s center">
                                                <div><img alt="" src="https://preview.ibb.co/hKfJax/Colorclub.jpg" height="200" width="140" /></div>
                                                <h2><a href="http://www.elegantnailsupply.com/new-products.html">NEW ARIVALS</a></h2>
                                            </div>
                                            <div class="col-sm-4 col-md-4 omega animate_down delay-075s center">
                                                <div><img alt="" src="https://preview.ibb.co/dJwiax/Voesh_O2_cropped.jpg" height="200" width="140" /></div>
                                                <h2>TRENDING</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tv-section-1484786827617" class="tv-section image-with-text-overlay-section under-menu">
                                <section id="slide-1484786827617" class="parallax-banner parallax-slide slide parallax_effect--true">
                                    <div class="lazyload bcg " data-bgset="http://elegantnailsupply.com/media/wysiwyg/porto/homepage/slider/15/parallax_03.jpg 2048w" data-sizes="100vw">
                                        <div class="hsContainer"><noscript>
                                            <img   alt=""
                                                   src="http://elegantnailsupply.com/media/wysiwyg/porto/homepage/slider/15/parallax_03.jpg"
                                                   class="image__fallback"
                                                   />
                                            </noscript><a href="http://www.elegantnailsupply.com/salon-furniture/nail-salon-furniture/view-all-salon-furniture.html"><img class="lazyload lazyload--fade-in hsContainer__image" alt="" src="http://elegantnailsupply.com/media/wysiwyg/porto/homepage/slider/15/parallax_03.jpg" data-src="http://elegantnailsupply.com/media/wysiwyg/porto/homepage/slider/15/parallax_03.jpg" /></a>
                                            <div class="hsContent"><a class="full-link" href="salon-furniture.html"> /collections/tops </a>
                                                <div class="tvcontainer">
                                                    <div class="columns  twelve offset-by-two  align_right">
                                                        <div class="animate_down">
                                                            <h1 class="headline">FURNITURE</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <style><!--
                                    #slide-1484786827617 .hsContainer {
                                        height: 600px;
                                    }



                                    @media (max-width: 767px) {

                                        #slide-1484786827617 .hsContainer {
                                            height: auto;
                                        }

                                    }
                                    --></style>
                            </div>
                            <div id="tv-section-1484608041467" class="tv-section  image-with-text-overlay-section under-menu">
                                <section id="slide-1484608041467" class="parallax-banner parallax-slide slide parallax_effect--true">
                                    <div class="lazyload bcg " data-bgset="http://elegantnailsupply.com/media/wysiwyg/porto/homepage/slider/15/parallax_04.jpg 2048w" data-sizes="100vw" data-bottom-top="background-position: 50% 10vh;" data-top-bottom="background-position: 50% -10vh;">
                                        <div class="hsContainer"><noscript>
                                            <img   alt=""
                                                   src="http://elegantnailsupply.com/media/wysiwyg/porto/homepage/slider/15/parallax_04.jpg"
                                                   class="image__fallback"
                                                   />
                                            </noscript><img class="lazyload lazyload--fade-in hsContainer__image" alt="" src="http://elegantnailsupply.com/media/wysiwyg/porto/homepage/slider/15/parallax_04.jpg" data-src="http://elegantnailsupply.com/media/wysiwyg/porto/homepage/slider/15/parallax_04.jpg" />
                                            <div class="hsContent"><a class="full-link" href="/collections/just-arrived"> /collections/just-arrived </a>
                                                <div class="tvcontainer">
                                                    <div class="columns  twelve offset-by-two  align_left">
                                                        <div class="animate_down">
                                                            <h1 class="headline">BEST SELLERS</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <a id="slide-1484608041467-content"></a>
                                <style><!--
                                    #slide-1484608041467 .hsContainer {
                                        height: 600px;
                                    }



                                    @media (max-width: 767px) {

                                        #slide-1484608041467 .hsContainer {
                                            height: auto;
                                        }

                                    }
                                    --></style>
                            </div>
                            <div id="tv-section-1482978263392" class="tv-section featured-collection-section">
                                <div class="tvcontainer featured_products">
                                    <div class="sixteen columns center homepage_content">
                                        <h2 class="title"><a href="/collections/frontpage">PEDICURE CHAIRS</a></h2>
                                        <div class="feature_divider">&nbsp;</div>
                                        <div class="products">{{block type="filterproducts/newproduct_home_list" name="newproduct_list" product_count="4" category_id="252" template="filterproducts/list.phtml"}}
                                            <div class="clear clearfix">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tv-section-1483047228187" class="tv-section   image-with-text-overlay-section under-menu">
                                <section id="slide-1483047228187" class="parallax-banner parallax-slide slide parallax_effect--true">
                                    <div class="lazyload bcg " data-bgset="  https://preview.ibb.co/kXdBk7/lisbson_collection_small.jpg" alt="lisbon_collectio_small?v=1484602089 2048w" data-sizes="100vw" data-bottom-top="background-position: 150% 10vh;" data-top-bottom="background-position: 50% -10vh;">
                                        <div class="hsContainer"><noscript>
                                            <img   alt=""
                                                   src="https://preview.ibb.co/kXdBk7/lisbson_collection_small.jpg" alt="lisbon_collectio_small"
                                                   class="image__fallback"
                                                   />
                                            </noscript><img class="lazyload lazyload--fade-in hsContainer__image" alt="" src="https://preview.ibb.co/kXdBk7/lisbson_collection_small.jpg" alt="lisbon_collectio_small"data-src="https://preview.ibb.co/kXdBk7/lisbson_collection_small.jpg" alt="lisbon_collectio_small" />
                                            <div class="hsContent"><a class="full-link" href="/collections/pre-order"> /collections/pre-order </a>
                                                <div class="tvcontainer">
                                                    <div class="columns  twelve offset-by-two  align_right">
                                                        <div class="animate_down">
                                                            <h1 class="headline">SEASONAL COLLECTION</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <style><!--
                                    #slide-1483047228187 .hsContainer {
                                        height: 600px;
                                    }



                                    @media (max-width: 1000px) {

                                        #slide-1483047228187 .hsContainer {
                                            height: auto;
                                        }

                                    }
                                    --></style>
                            </div>
                            <div id="tv-section-1484789732671" class="tv-section    image-with-text-overlay-section under-menu">
                                <section id="slide-1484789732671" class="parallax-banner parallax-slide slide parallax_effect--true">
                                    <div class="lazyload bcg " data-bgset="  https://preview.ibb.co/jsDzyH/accessories_1.jpg?v=1484789729 2048w,
                                         //cdn.shopify.com/s/files/1/0784/0445/files/slide-record_1600x.jpg?v=1484789729 1600w,
                                         //cdn.shopify.com/s/files/1/0784/0445/files/slide-record_1200x.jpg?v=1484789729 1200w,
                                         //cdn.shopify.com/s/files/1/0784/0445/files/slide-record_1000x.jpg?v=1484789729 1000w,
                                         //cdn.shopify.com/s/files/1/0784/0445/files/slide-record_800x.jpg?v=1484789729 800w,
                                         //cdn.shopify.com/s/files/1/0784/0445/files/slide-record_600x.jpg?v=1484789729 600w,
                                         //cdn.shopify.com/s/files/1/0784/0445/files/slide-record_400x.jpg?v=1484789729 400w" data-sizes="100vw" data-bottom-top="background-position: 50% 10vh;" data-top-bottom="background-position: 50% -10vh;">
                                        <div class="hsContainer"><noscript>
                                            <img   alt=""
                                                   src="https://preview.ibb.co/jsDzyH/accessories_1.jpg"
                                                   class="image__fallback"
                                                   />
                                            </noscript><img class="lazyload lazyload--fade-in hsContainer__image" alt="" src="https://preview.ibb.co/jsDzyH/accessories_1.jpg" data-src="https://preview.ibb.co/jsDzyH/accessories_1.jpg" />
                                            <div class="hsContent"><a class="full-link" href="/collections/bottoms"> /collections/bottoms </a>
                                                <div class="tvcontainer">
                                                    <div class="columns  twelve offset-by-two  align_left">
                                                        <div class="animate_down">
                                                            <h1 class="headline">ACCESSORIES</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <style><!--
                                    #slide-1484789732671 .hsContainer {
                                        height: 600px;
                                    }



                                    @media (max-width: 767px) {

                                        #slide-1484789732671 .hsContainer {
                                            height: auto;
                                        }

                                    }
                                    --></style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tv-section-1483048884111" class="tv-section     image-with-text-overlay-section under-menu">
            <section id="slide-1483048884111" class="parallax-banner parallax-slide slide parallax_effect--true">
                <div class="lazyload bcg " data-bgset="  https://preview.ibb.co/nDJm2n/Daisy_Chair_images_Big.jpg" alt="slide3_1" data-sizes="100vw" data-bottom-top="background-position: 50% 10vh;" data-top-bottom="background-position: 50% -10vh;">
                    <div class="hsContainer"><noscript>
                        <img   alt=""
                               src="https://preview.ibb.co/nDJm2n/Daisy_Chair_images_Big.jpg" alt="slide3_1"
                               class="image__fallback"
                               />
                        </noscript><img class="lazyload lazyload--fade-in hsContainer__image" alt="" src="https://preview.ibb.co/nDJm2n/Daisy_Chair_images_Big.jpg" alt="slide3_1" data-src="https://preview.ibb.co/nDJm2n/Daisy_Chair_images_Big.jpg" alt="slide3_1" />
                        <div class="hsContent">&nbsp;</div>
                    </div>
                </div>
            </section>
            <style><!--
                #slide-1483048884111 .hsContainer {
                    height: 500px;
                }



                @media (max-width: 767px) {

                    #slide-1483048884111 .hsContainer {
                        height: auto;
                    }

                }
                --></style>
        </div>
        <div id="tv-section-1484621450231" class="tv-section headline-section featured-content-section">
            <div class="homepage_content clearfix">
                <div class="tvcontainer">
                    <div class="sixteen columns">
                        <div class="section center clearfix">
                            <h2 class="title center">All Your Needs!</h2>
                            <div class="feature_divider">&nbsp;</div>
                            <div class="richtext_content--regular_text center">
                                <p>Feeling beautiful has never been easier! We have everything from Polish, Gels, Dips, and all your salon needs. We carry high quality nail supplies and furniture to make your life easier.</p>
                            </div>
                            <p><a class="btn btn-default action_button" href="/special-promotion.html"> Get Started </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tv-section-1484606895879" class="tv-section image-gallery-section">
            <div class="gallery-section ">
                <div class="section clearfix">
                    <div class="gallery-bar">
                        <div class="gallery_image col-md-3"><a class="lightbox " href="https://ibb.co/gnZGXn" rel="gallery"> <img class="lazyload lazyload--fade-in" style="max-width: 1000px;" alt="" src="https://preview.ibb.co/hLAqsn/image_1.png" data-sizes="auto" data-src="https://preview.ibb.co/hLAqsn/image_1.png" data-srcset=" https://preview.ibb.co/hLAqsn/image_1.png_2048x_crop_center.jpg?v=1484620156 2048w" height="200" /> </a></div>
                        <div class="gallery_image col-md-3"><a class="lightbox " href="https://ibb.co/fyvek7" rel="gallery"> <img class="lazyload lazyload--fade-in" style="max-width: 1000px;" alt="" src="https://preview.ibb.co/egk1yS/image_2.png_300x_crop_center.jpg?v=1484620136" data-sizes="auto" data-src="https://preview.ibb.co/egk1yS/image_2.png_2048x_crop_center.jpg?v=1484620136" data-srcset=" https://preview.ibb.co/egk1yS/image_2.png_2048x_crop_center.jpg?v=1484620136 2048w" height="200"/> </a></div>
                        <div class="gallery_image col-md-3"><a class="lightbox " href="https://ibb.co/ihtX57" rel="gallery"> <img class="lazyload lazyload--fade-in" style="max-width: 1000px;" alt="" src="https://preview.ibb.co/cA68dS/image_3.png" data-sizes="auto" data-src="https://preview.ibb.co/cA68dS/image_3.png" data-srcset=" https://preview.ibb.co/cA68dS/image_3.png 2048w" height="200"/> </a></div>
                        <div class="gallery_image col-md-3"><a class="lightbox " href="https://ibb.co/jHQUk7" rel="gallery"> <img class="lazyload lazyload--fade-in" style="max-width: 1000px;" alt="" src="https://preview.ibb.co/nskjJS/image_4.png" data-sizes="auto" data-src="https://preview.ibb.co/nskjJS/image_4.png" data-srcset=" https://preview.ibb.co/nskjJS/image_4.png 2048w" height="200"/> </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tv-section-1482978276284" class="shopify-section featured-products-section">
            <div class="container">
                <div class="clearfix homepage_content">{{block type="productdetail/index" product_id="4059" name="productdetail_index" template="productdetail/index.phtml"}}</div>
            </div>
        </div>
        <div id="tv-section-1484790312213" class="tv-section      image-with-text-overlay-section under-menu">
            <section id="slide-1484790312213" class="parallax-banner parallax-slide slide parallax_effect--true">
                <div class="lazyload bcg " data-bgset=" https://preview.ibb.co/hEnTCn/slide3_1.jpg" alt="slide3_1" data-sizes="100vw" data-bottom-top="background-position: 50% 10vh;" data-top-bottom="background-position: 50% -10vh;">
                    <div class="hsContainer"><noscript>
                        <img   alt=""
                               src="https://preview.ibb.co/hEnTCn/slide3_1.jpg" alt="slide3_1"
                               class="image__fallback"
                               />
                        </noscript><img class="lazyload lazyload--fade-in hsContainer__image" alt="" src="https://preview.ibb.co/hEnTCn/slide3_1.jpg" alt="slide3_1" data-src="https://preview.ibb.co/hEnTCn/slide3_1.jpg" alt="slide3_1?v=1499963587" />
                        <div class="hsContent">
                            <div class="tvcontainer">
                                <div class="columns  eight offset-by-eight  align_center">
                                    <div class="animate_down">
                                        <h1 class="headline">We specialize in nail, beauty products, salon equipment, and furniture</h1>
                                        <div class="subtitle">
                                            <p>ALL YOUR SALON NEEDS</p>
                                        </div>
                                        <a class="btn btn-default action_button" href="/collections/just-arrived"> EXPLORE </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <a id="slide-1484790312213-content"></a>
            <style><!--
                #slide-1484790312213 .hsContainer {
                    height: 600px;
                }



                @media (max-width: 767px) {

                    #slide-1484790312213 .hsContainer {
                        height: auto;
                    }

                }
                --></style>
        </div>
        <div id="tv-section-1484790668935" class="tv-section testimonial-section">
            <div class="testimonial-tvcontainer tvcontainer" data-section-id="1484790668935">
                <h2 class="title center">ELEGANT NAIL SUPPLY ASSOCIATES</h2>
                <div class="feature_divider">&nbsp;</div>
                <div class="section clearfix">
                    <div class="sixteen columns">
                        <div class="testimonial-block col-sm-4 col-md-4 alpha">
                            <div class="rounded"><img class="lazyload lazyload--fade-in testimonial__image" style="max-width: 600px;" alt="" /><img alt="Kim_bio_pick" src="https://preview.ibb.co/fQZf3H/Kim_bio_pick.jpg" height="200" width="300" /></div>
                            <div class="testimonial-block__text">
                                <p>NAILPORN</p>
                            </div>
                            <p><span> <span class="name"> <strong><a href="https://www.facebook.com/kimsnailporn/" target="_blank">@kimsnailporn</a></strong> </span></span></p>
                        </div>
                        <div class="testimonial-block col-sm-4 col-md-4 ">
                            <div class="rounded"><img class="lazyload lazyload--fade-in testimonial__image" style="max-width: 600px;" alt="" /><img alt="David_Hoang" src="https://image.ibb.co/e2faLx/David_Hoang.jpg" height="200" width="300" /></div>
                            <div class="testimonial-block__text">
                                <p>Chisel CEO</p>
                            </div>
                            <p><span class="name"> <strong> <a href="https://www.facebook.com/chiselombre/" target="_blank&quot;">@DavidHoang</a></strong> </span></p>
                        </div>
                        <div class="testimonial-block col-sm-4 col-md-4 omega">
                            <div class="rounded"><img class="lazyload lazyload--fade-in testimonial__image" style="max-width: 1024px;" alt="" /><img alt="Nikki_Le" src="https://preview.ibb.co/mSz20x/Nikki_Le.jpg" height="200" width="300" /></div>
                            <div class="testimonial-block__text">
                                <p>Ambiance Nail Salon</p>
                            </div>
                            <p><span class="name"> <strong> <a href="https://www.instagram.com/nails_by_nikki_le/" target="_blank">@Nails_by_Nikki_le</a> </strong> </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tv-section-1484790050609" class="tv-section social-feeds-section">&nbsp;</div>
        <!-- END content_for_index -->
    </div>
</div>