/*
 * Created on : Dec 28, 2017, 9:49:09 AM
 * Author: Tran Trong Thang
 * Email: trantrongthang1207@gmail.com
 * Skype: trantrongthang1207
 */
.tv-cmspage {
   font-family: "HelveticaNeue-Light","Helvetica Neue Light","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #111111;
}
.tv-cmspage a:hover{
    text-transform: none;
}
.tvcontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
p {
    font-style: normal;
    line-height: 1.8em;
    margin: 0 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.collection_title,
.headline,
.subtitle p{
    font-family:Old Standard TT;
    font-weight:lighter;
    font-style:italic;
    text-transform:uppercase;
    color:#111111;
    display:block;
    letter-spacing:3px;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
@media (min-width: 768px) {
    .tvcontainer {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .tvcontainer {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .tvcontainer {
        width: 1170px;
    }
}
.inline{
    display:inline
}
.center{
    text-align:center
}
.relative{
    position:relative
}
.align_right{
    text-align:right
}
.align_left{
    text-align:left
}
.align_center{
    text-align:center
}
.tv-cmspage img{
    width: 100%;
}
.lazyload--fade-in{
    -webkit-filter:blur(5px);
    filter:blur(5px);
    transition:filter 200ms, -webkit-filter 200ms, box-shadow 200ms, opacity 0.2s;
    opacity:0.2
}
.lazyload--fade-in.lazyloaded{
    opacity:1;
    -webkit-filter:blur(0);
    filter:blur(0)
}
img[data-sizes="auto"]{
    display:block;
    width:100%;
    margin-left:auto;
    margin-right:auto
}
.image__container{
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:relative
}
.hsContainer{
    display:table;
    table-layout:fixed;
    width:100%;
    overflow:hidden;
    position:relative;
    opacity:1;
    z-index:1
}
.hsContainer.image-darken--true::after{
    position:absolute;
    content:'';
    top:0;
    left:0;
    bottom:0;
    width:100%;
    background-color:rgba(0,0,0,0.5)
}
.hsContent{
    max-width:100%;
    margin:-150px auto 0 auto;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    float:none;
    width:100%;
    z-index:2;
    position:relative
}
.hsContent .tvcontainer{
    padding:0;
    pointer-events:none
}
.hsContent .subtitle p a{
    pointer-events:all
}
.hsContent .action_button,
.action_button{
    pointer-events: all;
    text-transform: uppercase;
}
.bcg{
    background-position:center center;
    background-repeat:no-repeat;
    position:relative;
    background-size:cover;
    background-color:#363636
}
.bcg .hsContent{
    transition:background-color 0.2s linear;
    background-color:#363636;
    z-index:100
}
.bcg.lazyloaded .hsContent,.lazyloaded+.hsContent{
    background-color:rgba(54,54,54,0)
}
.hsContainer__image{
    display:none;
    width:100%
}
.flexslider.parallax_effect--true img{
    display:none
}
.parallax_effect--true .bcg{
    background-attachment:fixed
}
@media (max-width: 767px){
    .parallax_effect--true .bcg{
        background-attachment:scroll
    }
}
.parallax_effect--false .hsContainer{
    height:auto !important
}
.parallax_effect--false .hsContainer__image{
    display:block;
    margin-bottom:0
}
.parallax_effect--false .hsContainer__image+.hsContent{
    position:absolute;
    top:0;
    bottom:0;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    margin:0;
    padding:5px;
    box-sizing:border-box
}
@media (max-width: 767px){
    .hsContainer__image{
        display:block
    }
}
@media (max-width: 767px){
    .hsContainer__image+.hsContent{
        position:absolute;
        top:0;
        bottom:0;
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center;
        margin:0;
        padding:5px;
        box-sizing:border-box
    }
}
.hsContainer a.action_button{
    padding:10px 40px
}
.full-link{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-size:0
}
.full-link+.hsContainer{
    pointer-events:none
}

.testimonial-block{
    text-align:center;
    /*padding:15px 0*/
}
.testimonial-block__text{
    padding-top:15px
}
.testimonial-dash{
    font-size:22px;
    vertical-align:top
}
.logo-bar-section h2{
    padding-bottom:6px;
    color:#111111
}
.logo-bar{
    text-align:center;
    margin-bottom:20px
}
.logo-bar__item{
    display:inline-block;
    vertical-align:middle;
    max-width:160px;
    width:calc(20% - 45px);
    margin-top:20px;
    margin-left:20px;
    margin-right:20px
}
@media (max-width: 767px){
    .logo-bar__item{
        width:calc(50% - 20px);
        margin-left:10px;
        margin-right:10px
    }
}
.rounded{
    border-radius:50%;
    overflow:hidden;
    margin:0 20%
}
/*featured_links*/
.featured_links {
    padding: 20px 0;
}
.featured_links h2 {
    padding-top: 15px;
    color: #111;
    font-size: 22px;
    line-height: 1.8em;
    margin-bottom: 0;
    text-transform: uppercase;
}
.feature_divider{
    border:solid 1px;
    display:block;
    width:110px;
    height:1px;
    border-right:0;
    border-left:0;
    border-bottom:0;
    margin:25px auto;
    border-color:#111111
}
.align_left .feature_divider{
    margin-left:0;
    margin-right:0
}
.content h2 {
    line-height: 1.8em;
    margin-bottom: 0;
}
.headline{
    font-size:42px;
    margin-bottom:0.5em;
    line-height:47px;
    font-weight:lighter;
    position:relative;
    letter-spacing:3px;
    color:#ffffff;
    text-shadow:0 0 1px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.3);
    text-transform: uppercase;
}
.subtitle p{
    font-family:Lato;
    font-weight:normal;
    font-style:normal;
    text-transform:uppercase;
    font-size:18px;
    line-height:1.5em;
    margin-bottom:1.5em;
    position:relative;
    color:#ffffff;
    text-shadow:0 0 1px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.3)
}
.headline,.subtitle p{
    pointer-events:none
}
.align_left .headline,.align_left .subtitle p{
    text-align:left
}
.align_right .headline,.align_right .subtitle p{
    text-align:right
}
div.tvcontainer {
    margin: 0 auto;
    padding: 20px 0;
}
.homepage_content {
    padding: 20px 0;
}
h2.title, h2.title a, .collection_title, h3.title {
    clear: both;
    color: #111111;
    font-size: 26px;
    font-weight: lighter;
    line-height: 1.8em;
    margin: 0 auto 15px;
    padding-top: 4px;
    text-align: center;
    text-transform: uppercase;
}

/*gallery-section*/ 
.gallery-section .col-md-3{
    padding-left: 0;
    padding-right: 0;
}

@font-face{
    font-family:'ootsb';
    src:url("fonts/ootsb.eot");
    src:url("fonts/ootsb.eot") format("embedded-opentype"),
        url("fonts/ootsb.ttf") format("truetype"),
        url("fonts/ootsb.woff") format("woff"),
        url("fonts/ootsb.svg") format("svg");
    font-weight:normal;
    font-style:normal
}
[class^="icon-"],
[class*=" icon-"]{
    font-family:'ootsb' !important;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    speak:none;
    line-height:1em;
    text-decoration:inherit;
    display:inline;
    margin-right:.2em;
    text-align:center;
    padding-top:0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.icon-circle-right:before{
    content:"\e904" !important;
    font-family:'ootsb' !important;
}
.ss-icon,.footer .ss-icon,.ss-icon:visited,.flex-prev,.flex-next,
.ss-icon.ss-sandbox,[class^="ss-"]:before,[class*=" ss-"]:before,
[class^="ss-"].ss-sandbox:before,[class*=" ss-"].ss-sandbox:before,
[class^="ss-"].right:after,[class*=" ss-"].right:after,
[class^="ss-"].ss-sandbox.right:after,[class*=" ss-"].ss-sandbox.right:after{
    font-style:normal;
    font-weight:400;
    text-decoration:none;
    text-rendering:optimizeLegibility;
    white-space:nowrap;
    -moz-font-feature-settings:"liga=1";
    -moz-font-feature-settings:"liga";
    -ms-font-feature-settings:"liga" 1;
    -o-font-feature-settings:"liga";
    font-feature-settings:"liga";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:50px;
    margin:7px 0 7px 0;
    display:inline-block;
    text-decoration: none;
}
.flex-direction-nav .flex-prev:before{
    content:initial
}
.flex-direction-nav{
    *height:0
}
.flex-direction-nav a,.fancybox-next span,.fancybox-prev span{
    width:60px;
    height:60px;
    margin:-20px 0 0;
    display:block;
    z-index:200;
    position:absolute;
    top:50%;
    cursor:pointer;
    opacity:0;
    -webkit-transition:all .3s ease;
    transition:all .3s ease;
    color:#333;
    text-shadow:0 0 1px #fff
}
.flex-direction-nav .flex-next,.fancybox-next span{
    right:-36px;
    text-align:center
}
.flex-direction-nav .flex-prev,.fancybox-prev span{
    left:-36px;
    text-align:center
}
.flexslider:hover .flex-next,.fancybox-next:hover span{
    opacity:0.6;
    right:15px
}
.flexslider:hover .flex-prev,.fancybox-prev:hover span{
    opacity:0.6;
    left:25px
}
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover{
    opacity:1;
    text-decoration: none;
}
.flex-direction-nav .flex-disabled{
    opacity:.3 !important;
    filter:alpha(opacity=30);
    cursor:default
}
.flex-control-nav{
    position:absolute;
    bottom:4%;
    text-align:center;
    width:100%;
    z-index:100
}
.flex-control-nav li{
    margin:0 0 0 5px;
    display:inline-block;
    zoom:1;
    *display:inline
}
.flex-control-nav li:first-child{
    margin:0
}
.flex-control-nav li a{
    width:6px;
    height:6px;
    display:inline-block;
    cursor:pointer;
    text-indent:-9999em;
    background:#fff;
    border:1px solid transparent;
    color:#fff;
    margin:10px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
    transition:all 0.2s ease-in-out
}
.flex-control-nav li a.flex-active,.flex-control-nav li a:hover{
    border:1px solid #fff;
    background:transparent;
    -webkit-transform:scale(1.5);
    transform:scale(1.5)
}
.flex-control-thumbs{
    width:100%;
    position:absolute;
    bottom:-40px;
    text-align:center
}
.flex-control-thumbs li{
    margin:0 6px;
    display:inline-block;
    zoom:1;
    *display:inline
}
.flex-control-thumbs{
    position:static;
    overflow:hidden
}
.flex-control-thumbs li,.flex-control-thumbs li:first-child{
    width:16%;
    vertical-align:top;
    margin:15px 5% 0 0
}
.flex-control-thumbs img{
    width:100%;
    display:block;
    opacity:.7;
    cursor:pointer
}
.flex-control-thumbs img:hover{
    opacity:1
}
.flex-control-thumbs .flex-active{
    opacity:1;
    cursor:default
}
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus{
    outline:none
}
.slides,.flex-control-nav,.flex-direction-nav,.flex-direction-nav li{
    margin:0;
    padding:0;
    list-style:none
}
.flex-direction-nav .flex-prev:before{
    font-family:'ootsb' !important;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    speak:none;
    line-height:1em;
    text-decoration:inherit;
    display:inline;
    margin-right:.2em;
    text-align:center;
    padding-top:0;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.icon-circle-left:before{
    content:"\e903" !important;
    font-family:'ootsb' !important;
}
ul.slides li{
    border:none;
    padding:0;
    margin-bottom:0;
    position:relative
}
html[xmlns] .slides{
    display:block
}
.flexslider{
    margin:0;
    padding:0;
    z-index:0
}
.flexslider .slides>li{
    display:none;
    -webkit-backface-visibility:hidden
}
.flex-pauseplay span{
    text-transform:capitalize
}
.flexslider .slides img{
    display:block;
    max-width:100%;
    height:auto;
    margin:0 auto
}
.flexslider{
    position:relative;
    zoom:1;
    clear:both;
    overflow:hidden
}
.flex-viewport{
    max-height:2000px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease
}
.loading .flex-viewport{
    max-height:300px
}
.flexslider .slides{
    zoom:1
}
.flexslider .slides .flex-active-slide{
    z-index:100 !important
}
.flexslider .slides li{
    text-align:center;
    position:relative;
    z-index:-100 !important
}
.flexslider-container{
    position:relative
}

.tv-cmspage .owl-carousel{
    display: block;    
}
.cms-home-page-2018 .main-container,
.cms-home-page-2018 .main-container .container{
    width: 100%;
    padding: 0;
}
.cms-home-page-2018 .main-container .container ul{
    padding: 0;
}
.center {
    text-align: center;
}
#instafeed img,#instafeed svg,#instafeed video{
    margin-bottom:1em
}
.featured-collection-section .price-label,
.featured-collection-section .price-box > p.special-price.yousave{
    display: none;
}
.featured-collection-section .price-box > p{
    display: inline-block
}
.featured-collection-section .price-box > p span{
    font-size: 15px;
    font-weight: bold;
}
.featured-collection-section .price-box > p.old-price span{
    font-weight: normal;
    padding-right: 10px;
}
@media only screen and (max-width: 767px){
    .tvcontainer{
        width:300px
    }
    .tvcontainer .columns,.tvcontainer .column{
        margin:0
    }
    .tvcontainer .one.column,.tvcontainer .one.columns,.tvcontainer .two.columns,.tvcontainer .three.columns,.tvcontainer .four.columns,.tvcontainer .five.columns,.tvcontainer .six.columns,.tvcontainer .seven.columns,.tvcontainer .eight.columns,.tvcontainer .nine.columns,.tvcontainer .ten.columns,.tvcontainer .eleven.columns,.tvcontainer .twelve.columns,.tvcontainer .thirteen.columns,.tvcontainer .fourteen.columns,.tvcontainer .fifteen.columns,.tvcontainer .sixteen.columns,.tvcontainer .one-third.column,.tvcontainer .two-thirds.column{
        width:300px
    }
    .tvcontainer .one-fifth.column{
        width:140px
    }
    .tvcontainer .thumbnail.even,.tvcontainer .thumbnail.odd{
        width:140px !important
    }
    .tvcontainer div.thumbnail.even{
        clear:left
    }
    .tvcontainer div.thumbnail.odd{
        margin-left:20px
    }
    br.product_clear{
        display:none
    }
    .tvcontainer .offset-by-one,.tvcontainer .offset-by-two,.tvcontainer .offset-by-three,.tvcontainer .offset-by-four,.tvcontainer .offset-by-five,.tvcontainer .offset-by-six,.tvcontainer .offset-by-seven,.tvcontainer .offset-by-eight,.tvcontainer .offset-by-nine,.tvcontainer .offset-by-ten,.tvcontainer .offset-by-eleven,.tvcontainer .offset-by-twelve,.tvcontainer .offset-by-thirteen,.tvcontainer .offset-by-fourteen,.tvcontainer .offset-by-fifteen{
        padding-left:0
    }
    .tvcontainer .offset-by-one.alternate{
        padding-right:0
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px){
    .tvcontainer{
        width:768px
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .tvcontainer{
        width:420px
    }
    .tvcontainer .columns,.tvcontainer .column{
        margin:0
    }
    .tvcontainer .one.column,.tvcontainer .one.columns,.tvcontainer .two.columns,.tvcontainer .three.columns,.tvcontainer .four.columns,.tvcontainer .five.columns,.tvcontainer .six.columns,.tvcontainer .seven.columns,.tvcontainer .eight.columns,.tvcontainer .nine.columns,.tvcontainer .ten.columns,.tvcontainer .eleven.columns,.tvcontainer .twelve.columns,.tvcontainer .thirteen.columns,.tvcontainer .fourteen.columns,.tvcontainer .fifteen.columns,.tvcontainer .sixteen.columns,.tvcontainer .one-third.column,.tvcontainer .two-thirds.column{
        width:420px
    }
    .tvcontainer .one-fifth.column{
        width:200px
    }
    .tvcontainer .thumbnail.even,.tvcontainer .thumbnail.odd{
        width:200px !important
    }
    .tvcontainer div.thumbnail.even{
        clear:left
    }
    .tvcontainer div.thumbnail.odd{
        margin-left:20px
    }
    br.product_clear{
        display:none
    }
}
@media only screen and (max-width: 1024px){
    .featured-content-section .sixteen {
        width: 80%;
        margin: 0 auto;
    }   
}
@media only screen and (max-width: 767px){
    div.tvcontainer {
        margin: 0 auto;
        /*padding: 0 20px 20px 20px;*/
    }
    .hsContent .tvcontainer {
        /*width: 100%;*/
        pointer-events: none;
    }
    .headline{
        font-size:1.3em;
        line-height:1.2em;
        position:relative
    }
    .subtitle p{
        font-size:1.1em;
        line-height:1.2em;
        position:relative
    }
    .hsContainer .left{
        padding-left:20px !important
    }
    .hsContainer .right{
        padding-right:20px !important
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .tvcontainer{
        width:420px
    }
    .tvcontainer .columns,.tvcontainer .column{
        margin:0
    }
}